# Database
DATABASE_URL=mysql://pudu_user:password@localhost/pudu

# JWT Secret (generate a secure random string)
JWT_SECRET=secret

# Server
HOST=127.0.0.1
PORT=3000

# Upload paths
FILES_DIR=./files
IMAGES_DIR=./images
STATIC_DIR=./static
TEMPLATE_DIR=./templates

# Email
# EMAIL_HOST=smtp server
# EMAIL_PORT=587
# EMAIL_USER=
# EMAIL_PASS=